# Ignore root-level files
.eslintrc.json
.gitignore
components.json
next-env.d.ts
next.config.mjs
npm.txt
package-lock.json
package.json
pnpm-lock.yaml
postcss.config.js
README.md
tailwind.config.ts
tsconfig.json

# Ignore root-level directories
credit/
node_modules/
public/
src/

# Ignore everything inside root-level directories, except .next
credit/*
!credit/.next/
node_modules/*
!node_modules/.next/
public/*
!public/.next/
src/*
!src/.next/

# Ignore hidden files and directories
.*
!.gitignore
