# Ignore everything
*

# But not the .next directory
!.next/

# Ignore specific files or folders inside .next if necessary
# .next/cache/
# .next/tmp/

# Do not ignore .gitignore and this README
!.gitignore
!README.md
